<ul class="contributors">
  <% @contributors.each do |contributor| %>
      <div>
        <%= image_tag contributor.profile_picture.url(:thumb) %>
        <div>
          <div>
            <h3> <%= link_to contributor.name, contributor_photos_path(contributor.id) %> </h3>
            <% if admin_logged_in? %>
              <%= link_to "Delete", remove_contributor_path(contributor.id) %>
            <% end %>
          </div>
            <div> <%= contributor.description %> </div>
            <div> <%= contributor.email %> </div>
            <div> <%= contributor.facebook_link %> </div>
            <div> <%= contributor.instagram_link %> </div>
            <div> <%= contributor.tumblr_link %> </div>
            <br>
        </div>
      </div>
  <% end %>
</ul>
