<div class="about-container">
  <h1> About </h1>
  <p> <%= site_description %> </p>
</div>

<div class="recent-container">
  <h1> Recent Uploads </h1>
  <div class="photos-bloc">
    <% @photos.each do |photo| %>
        <%= link_to image_tag(photo.image.url(:thumb), class: "thumb thumb-link"), show_photo_path(photo.id) %>
    <% end %>
  </div>
  <p> <%= link_to "see more...", all_photos_path %> </p>
</div>

<div class="recent-container">
  <h1> Recent Tags </h1>
  <div class="tags-bloc">
    <% @tags.each do |tag| %>
        <%= link_to tag.name, tag_photos_path(tag.id), class: "tag big-tag" %>
    <% end %>
  </div>
  <p> <%= link_to "see more...", all_tags_path %> </p>
</div>

<div>
  <h1> Recent Posts </h1>
  <%= render "posts/list_posts", list: @posts, style: "summarized" %>
  <p> <%= link_to "see more...", all_posts_path %> </p>
</div>
