<% if !@photo.nil? %>
  <div>
    <% if contributor_logged_in? %>
      <% if current_contributor.id == @photo.contributor.id %>
        <%= link_to "Edit", edit_photo_path(@photo.id) %>
        <%= link_to "Delete", show_photo_path(@photo.id), method: "delete" %>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= image_tag @photo.image.url(:original) %>
    <div>
      <div>
        <h3> <%= @photo.title %> </h3>
      </div>
        <div> <%= @photo.description %> </div>
          by <%= link_to @photo.contributor.name, contributor_photos_path(@photo.contributor.id) %>
    </div>
  </div>
<% else %>
Photo does not exist.
<% end %>
