<% if admin_logged_in? %>
  <h3> Delete: </h3>
  <%= image_tag @contributor.profile_picture.url(:thumb) %>
  <h3> <div> <%= @contributor.name %> </div> </h3>
  <div> <%= @contributor.description %> </div>
  <div> <%= @contributor.email %> </div>
  <div> <%= @contributor.facebook_link %> </div>
  <div> <%= @contributor.instagram_link %> </div>
  <div> <%= @contributor.tumblr_link %> </div>
  <br>
  <h3> Are you sure? </h3>

  <h3> <%= link_to "Yes!", remove_contributor_path(@contributor.id), method: "delete" %>
     <%= link_to "No!", contributors_path %> </h3>

<%else%>
  This is an admin area.
<%end%>
