<div id="contributor-page-container">
  <div id="contributor-page-profile-photos-container">
    <div id="contributor-page-profile-container">
      <div id="contributor-page-profile-picture-container">
        <%= image_tag @contributor.profile_picture.url(:thumb), id:"contributor-page-profile-picture" %>
      </div>
      <div id="contributor-page-socialmedia-container">
      </div>
      <p id="contributor-page-contributor-name"> <%= @contributor.name %> </p>
      <br>
      <p id="contributor-page-contributor-email"> Email: <%= @contributor.email%> </p>
      <p class="contributor-page-title"> About </p>
      <p id="contributor-page-contributor-description"> "<%= @contributor.description %>" </p>
      <p class="contributor-page-title"> Tags </p>
      <p id="contributor-page-contributor-tags">
        <% recent_contributor_tags.each do |tag| %>
          <%= link_to tag.name, contributor_and_tag_photos_path(@contributor.id, tag.id), class:"contributor-page-tag" %>
        <% end  %>
      </p>
      <p class="contributor-page-see-more"> <%= link_to "see more...", contributor_tags_path(@contributor.id) %> </p>
    </div>
    <div id="contributor-page-photos-container">
      <p class="contributor-page-title"> Photos </p>
      <div id="contributor-pages-photos-thumb-container">
        <% recent_contributor_photos.each do |photo| %>
          <%= link_to (image_tag photo.image.url(:thumb), class:"contributor-page-photo-thumb"), show_photo_path(photo.id) %>
        <% end %>
        <br><br>
        <p class="contributor-page-see-more"> <%= link_to "see more...", contributor_photos_path(@contributor.id) %> </p>
      </div>
    </div>
  </div>
  <div id="contributor-page-posts-container">
    <p class="contributor-page-title"> Posts </p>
  </div>
</div>
