<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to site_title, root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">

        <li><%= link_to "Home",  root_path %></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"> Gallery </a>
          <ul class="dropdown-menu">
            <% all_contributors.each do |contributor| %>
              <li><%= link_to contributor.name, contributor_photos_path(contributor.id) %></li>
            <% end %>
            <li class="divider"></li>
            <li><%= link_to "All Contributors", gallery_photos_path %></li>
          </ul>
        </li>
        <li><%= link_to "Contributors", contributors_path %></li>

        <% if contributor_logged_in? %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"> Hello, <%= current_contributor_name %> </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Settings", contributor_settings_path %></li>
            <li><%= link_to "Upload Photo", upload_photo_path %></li>
            <li><%= link_to "Change Password", contributor_change_password_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Logout", login_path, method: "delete" %></li>
          </ul>
        </li>
        <% end %>

        <% if admin_logged_in? %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown"> Admin </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Site Settings", admin_site_settings_path %></li>
              <li><%= link_to "Settings", admin_settings_path %></li>
              <li><%= link_to "New Contributor", new_contributor_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Logout", admin_path, method: "delete" %></li>
            </ul>
          </li>
        <% end %>

    </nav>
  </div>
</header>
